@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .light {
    /* 1. Base Colors */
    --color-background: #fcfcfe;
    --color-foreground: #010101;
    --color-body-text: #252527;

    /* 2. Surfaces */
    --color-card: #ffffff;
    --color-card-foreground: #09090b;
    --color-popover: #ffffff;
    --color-popover-foreground: #09090b;

    /* 3. Brand / Action Colors */
    --color-primary: #010101;
    --color-primary-foreground: #fcfcfe;
    --color-brand: #377aff;
    --color-brand-foreground: #ffffff;
    --color-secondary: #f4f4f5;
    --color-secondary-foreground: #18181b;
    --color-accent: #f4f4f5;
    --color-accent-foreground: #18181b;

    /* 4. Semantic / Feedback */
    --color-destructive: #c91221;
    --color-destructive-foreground: #fafafa;
    --color-success: #09ba38;
    --color-success-foreground: #fafafa;

    /* 5. Muted  */
    --color-muted: #f4f4f5;
    --color-muted-foreground: #3a3a3d;

    /* 6. UI Elements */
    --color-border: #dcdcdf;
    --color-input: #e4e4e7;
    --color-ring: #18181b;
  }

  .dark {
    /* 1. Base Colors */
    --color-background: #010101;
    --color-foreground: #fcfcfe;
    --color-body-text: #9A999E;

    /* 2. Surfaces */
    --color-card: #09090b;
    --color-card-foreground: #fafafa;
    --color-popover: #09090b;
    --color-popover-foreground: #fafafa;

    /* 3. Brand / Action Colors */
    --color-primary: #fcfcfe;
    --color-primary-foreground: #010101;
    --color-brand: #377aff;
    --color-brand-foreground: #ffffff;
    --color-secondary: #27272a;
    --color-secondary-foreground: #fafafa;
    --color-accent: #27272a;
    --color-accent-foreground: #fafafa;

    /* 4. Semantic / Feedback */
    --color-destructive: #c91221;
    --color-destructive-foreground: #fafafa;
    --color-success: #09ba38;
    --color-success-foreground: #fafafa;

    /* 5. Muted */
    --color-muted: #27272a;
    --color-muted-foreground: #8B8A8f;

    /* 6. UI Elements */
    --color-border: #27272a;
    --color-input: #171717;
    --color-ring: #d4d4d8;
  }
}
